<div class="form-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Employee Name</mat-label>
      <input matInput [(ngModel)]="name" placeholder="Enter employee name">
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Employee Email</mat-label>
      <input matInput [(ngModel)]="email" placeholder="Enter employee email">
    </mat-form-field>
  
    <div class="button-notice-container">
      <button mat-stroked-button color="primary" (click)="generateToken()">Generate Token and Send Email</button>
      <span *ngIf="generateAndSend" class="success-message">Token generated and email sent successfully!</span>
      <span *ngIf="!generateAndSend && errorMessage" class="error-message">{{ errorMessage }}</span>  
    </div>
  </div>
  
  <div class="table-container">
    <table mat-table [dataSource]="tokens" *ngIf="tokens.length > 0" class="mat-elevation-z8 custom-table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="cell-with-bar"> Name </th>
        <td mat-cell *matCellDef="let token" class="cell-with-bar"> {{ token.name }} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="cell-with-bar"> Email </th>
        <td mat-cell *matCellDef="let token" class="cell-with-bar"> {{ token.email }} </td>
      </ng-container>
    
      <ng-container matColumnDef="token">
        <th mat-header-cell *matHeaderCellDef class="cell-with-bar"> Registration link </th>
        <td mat-cell *matCellDef="let token" class="cell-with-bar"> {{ token.token }} </td>
      </ng-container>
    
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="cell-with-bar"> Status </th>
        <td mat-cell *matCellDef="let token" class="cell-with-bar"> {{ token.status }} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <p *ngIf="tokens.length === 0">No registration tokens available.</p>
  