.custom-table {
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
  
    .mat-header-cell, .mat-cell {
      border-right: 1px solid rgba(0, 0, 0, 0.12); 
      padding: 0 8px; 
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
  
      &:last-child {
        border-right: none; 
      }
    }
  
    .mat-header-row, .mat-row {
      display: table-row;
    }
  
    .mat-elevation-z8 {
      overflow-x: auto;
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; 
  
    .button-notice-container {
      display: flex;
      align-items: center;
      gap: 16px; 
  
      .success-message {
        color: green;
        font-weight: bold;
      }
  
      .error-message {
        color: red;
        font-weight: bold;
      }
  
    }
  }
  