<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/employee-profiles" routerLinkActive="active">Employee Profiles</a></li>
        <li><a routerLink="/visa-status-management" routerLinkActive="active">Visa Status Management</a></li>
        <li><a routerLink="/hiring-management" routerLinkActive="active">Hiring Management</a></li>
        <li><a routerLink="/housing-management" routerLinkActive="active">Housing Management</a></li>
    </ul>
</nav>