<nav>
    <h1 style="color: white; flex-grow: 1;">BeaconFire Inc</h1>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/employee-profiles" routerLinkActive="active">Employee Profiles</a></li>
        <li><a routerLink="/visa-status-management" routerLinkActive="active">Visa Status Management</a></li>
        <li><a routerLink="/hiring-management" routerLinkActive="active">Hiring Management</a></li>
        <li><a routerLink="/housing-management" routerLinkActive="active">Housing Management</a></li>
        <li><a (click)="handleLogout()" style="cursor:pointer;">Logout</a></li>
    </ul>
</nav>